<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="messages">
      <% for (const message of messages){ %>
        <div class="message">
          <div class="message-header">
            <p class="user"><%= message.user %></p>
            <p class="date"><%= message.added.toLocaleString('en-UK') %></p>
          </div>
          <p class="content"><%= message.text %></p>
        </div>
      <% } %>
    </div>
  </body>
</html>
